<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head></head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>SN</th>
                <th>macAddress</th>
                <th>qrCode</th>
                <th>활성화여부</th>
                <th>삭제여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="d : ${devices}">
                <td th:text="${d.serialNumber}"></td>
                <td th:text="${d.macAddress}"></td>
                <td th:text="${d.qrcode}"></td>
                <td th:text="${d.activestatus}"></td>
                <td th:text="${d.devicestatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
</html>